DB_HOST=localhost
DB_PORT=5432
DB_USER=database_username
DB_PASSWORD=database_password
DB_NAME=database_name
DB_SSLMODE=disable

DATABASE_URL="postgres://username:password@localhost:5432/database_name?sslmode=disable"

JWT_SECRET=
SERVER_PORT=8080
